{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Альбом{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    <form action="{% url 'kAboom:favorite_album' %}" method="post">
         {% csrf_token %}
        <input name="album_id" value="{{ album_info.id }}" hidden>
        {% if album_is_favorite %}
            <button class="btn btn-outline-light" type="submit" value="rem" name="fav"><img src="{% static 'kAboom/images/favorite.svg' %}"></button>
        {% else %}
            <button class="btn btn-outline-light" type="submit" value="add" name="fav"><img src="{% static 'kAboom/images/ne_favorite.svg' %}"></button>
        {% endif %}
     </form>
    {% endif %}

<h1>
<strong>
    Исполнитель: <a href="{% url 'kAboom:artist_detail' artist_info.id %}">{{ artist_info.name }}</a>
    Альбом: {{ album_info }}
</strong>
</h1>
<h2>

    <strong>Треки:</strong>

</h2>
    {% if track_list %}
        <ol>
        {% for track in track_list %}
            <li><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Треков нет</p>
    {% endif %}
{% endblock %}