{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Альбом{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    <form action="{% url 'kAboom:favorite_album' %}" method="post">
         {% csrf_token %}
        <input name="album_id" value="{{ album_info.id }}" hidden>
        {% if album_is_favorite %}
            {% include 'kAboom/include_ne_favorite.html' %}
        {% else %}
            {% include 'kAboom/include_favorite.html' %}
    {% endif %}
     </form>
    {% endif %}

    <h2>
        <strong>
            Исполнитель: <a href="{% url 'kAboom:artist_detail' artist_info.id %}">{{ artist_info.name }}</a>
            Альбом: {{ album_info }}
        </strong>
    </h2>
    <h3>
        <strong>Треки:</strong>
    </h3>
    {% if track_list %}
        <ol>
        {% for track in track_list %}
            <li><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Треков нет</p>
    {% endif %}
{% endblock %}