{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Альбомы{% endblock %}

{% block content %}

        {% if page_obj %}
        <h1>Альбомы:</h1>

        <ol>
        {% for album in page_obj %}
            <li><a href="{% url 'kAboom:album_detail' album.id %}">{{ album.title }}</a></li>
                {% if user.is_authenticated %}
                    <form action="{% url 'kAboom:favorite_album' %}" method="post">
                    {% csrf_token %}
                    <input name="album_id" value="{{ album.id }}" hidden>
                    {% if album in favorite_albums %}
                        <button type="submit" value="rem" name="fav">Удалить из избранного</button>
                    {% else %}
                        <button type="submit" value="add" name="fav">Добавить в избранное</button>
                    {% endif %}
                    </form>
                {% endif %}
        {% endfor %}
        </ol>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        <p>Альбомов нет</p>
    {% endif %}
{% endblock %}
