<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'kAboom/css.css' %}">
    <meta charset="UTF-8">
    <title>Альбом</title>
</head>
<body>
<a href="{% url 'kAboom:artist' artist_info.id %}">Назад</a>
<h1>
    Исполнитель {{ artist_info }}
    Альбом: {{ album_info }}
</h1>
<h2>
    Треки:
</h2>
    {% if track_list %}
        <ol>
        {% for track in track_list %}
            <li><a href="{% url 'kAboom:track' track.id %}">{{ track.name }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Треков нет</p>
    {% endif %}
</body>
</html>