{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Исполнитель{% endblock %}

{% block content %}

<a href="{% url 'kAboom:index' %}">Назад</a>
<h1>
    Испольнитель: {{ artist_info }}
</h1>
    {% if album_list %}
        <h2>Альбомы:</h2>
        <ol>
        {% for album in album_list %}
            <li><a href="{% url 'kAboom:album' album.id %}">{{ album.title }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Альбомов нет</p>
    {% endif %}
{% endblock %}