{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Исполнитель{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <form action="{% url 'kAboom:favorite_artist' %}" method="post">
         {% csrf_token %}
        <input name="artist_id" value="{{ artist_info.id }}" hidden>
        {% if artist_is_favorite %}
            <button class="btn btn-outline-light" type="submit" value="rem" name="fav"><img src="{% static 'kAboom/images/favorite.png' %}"></button>
        {% else %}
            <button class="btn btn-outline-light" type="submit" value="add" name="fav"><img src="{% static 'kAboom/images/ne_favorite.png' %}"></button>
        {% endif %}
     </form>
    {% endif %}

<h1>
    <strong>Испольнитель: {{ artist_info }}</strong>
</h1>
    {% if album_list %}
        <h2><strong>Альбомы:</strong></h2>
        <ol>
        {% for album in album_list %}
            <li><a href="{% url 'kAboom:album_detail' album.id %}">{{ album.title }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Альбомов нет</p>
    {% endif %}
{% endblock %}