{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <div class="col">
        <div class="row">
            <h2>Треки:</h2>
        </div>
        <ol>
            {% for track in favorite_tracks %}
                <li>
                    <div class="row mb-2">
                        <div class="col-3">
                            {{ track.name }}
                        </div>

                        <div class="col-1">
                            <form action="{% url 'kAboom:change_playlist_view' %}" method="post">
                                {% csrf_token %}
                                <input name="track_id" value="{{ track.id }}" hidden>
                                <input name="playlist_id" value="{{ playlist_id }}" hidden>
                                {% if track in track_list %}
                                    {% include 'kAboom/include_check mark.html' %}
                                {% else %}
                                    {% include 'kAboom/include_plus.html' %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>

    <a href="{% url 'kAboom:playlist_detail' playlist_id %}">Назад к плейлисту</a>

{% endblock %}