{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <div class="col">
        <div class="row">
            <h2>Треки:</h2>
        </div>
        <ol>
            {% for track in favorite_tracks %}
                <li>
                    <div class="row mb-2">
                        <div class="col-3">
                            {{ track.name }}
                        </div>

                        <div class="col-1">
                            <form action="{% url 'kAboom:change_playlist_view' %}" method="post">
                                {% csrf_token %}
                                <input name="track_id" value="{{ track.id }}" hidden>
                                <input name="playlist_id" value="{{ playlist_id }}" hidden>
                                    {% if track in track_list %}
                                    <button class="btn btn-{{ request.session.theme }}" type="submit" value="rem" name="fav">
                                        <img src="{% static 'kAboom/images/in_playlist.png' %}" height="25" width="25">
                                    </button>
                                {% else %}
                                    <button class="btn btn-{{ request.session.theme }}" type="submit" value="add" name="fav">
                                    {% if request.session.theme == 'dark' %}
                                        <img src="{% static 'kAboom/images/plus_dark.png' %}" width="25" height="25">
                                    {% else %}
                                        <img src="{% static 'kAboom/images/plus_light.png' %}" width="25" height="25">
                                    {% endif %}
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>

    <a href="{% url 'kAboom:playlist_detail' playlist_id %}">Назад к плейлисту</a>

{% endblock %}