{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Жанры{% endblock %}

{% block content %}

    <div class="col">
        {% if genre_list %}
            <div class="row">
                <h1>Жанры:</h1>
            </div>

            <ol>
            {% for genre in genre_list %}
                <div class="row">
                    <li>
                        <a href="{% url 'kAboom:genre_detail' genre.id %}">{{ genre.name }}</a>
                    </li>
                </div>
            {% endfor %}
            </ol>

        {% else %}
            <div class="row"><p>Жанров нет</p></div>
        {% endif %}
    </div>

{% endblock %}
