{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Жанры{% endblock %}

{% block content %}

    <div class="col">
        {% if genre_list %}
            <div class="row">
                <h2>Жанры:</h2>
            </div>

            <ol>
                {% for genre in genre_list %}
                    <li>
                        <div class="row mb-2">
                            <a href="{% url 'kAboom:genre_detail' genre.id %}">{{ genre.name }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ol>

        {% else %}
            <div class="row">
                <h2>Жанров нет</h2>
            </div>
        {% endif %}
    </div>

{% endblock %}
