{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container-fluid text-start">
    <div class="row">

        <div class="col-3 bg">

            <div class="row">
                <strong>Топ 10 треков:</strong>
            </div>

        <ol>
                {% for track in track_rating %}
                    <div class="row">

                        <div class="col">
                            <li><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></li>
                        </div>

                        <div class="col-2">
                            ({{ track.favorite.count }})
                        </div>
                    </div>
                {% endfor %}
        </ol>
        </div>

        <div class="col">

            {% if user.is_authenticated %}
                <div class="row"><a href="{% url 'kAboom:favorites' user.id %}">Избранное</a></div>
                <div class="row"><a href="{% url 'kAboom:my_playlists' %}">Мои плейлисты</a></div>
                {% if request.user.is_staff %}
                <div class="row"><a href="{% url 'kAboom:muzati_trend' %}">AAAAAAAAAAA</a></div>
                {% endif %}
            {% endif %}

            <div class="row"><a href="{% url 'kAboom:artist_index' %}">Исполнители</a></div>
            <div class="row"><a href="{% url 'kAboom:genre_index' %}">Жанры</a></div>
            <div class="row"><a href="{% url 'kAboom:track_index' %}">Треки</a></div>
            <div class="row"><a href="{% url 'kAboom:album_index' %}">Альбомы</a></div>
            <div class="row"><a href="{% url 'kAboom:playlist_index' %}">Плейлисты</a></div>

        </div>

    </div>
</div>

{% endblock %}