{% extends 'kAboom/base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <p><a href="{% url 'kAboom:playlist_creation' %}"><button type="button" class="btn btn-new">Создать плейлист</button></a></p>

    {% if playlists %}
    <p><strong>Мои плейлисты:</strong></p>
        <ol>
        {% for playlist in playlists %}
            <li><p><a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a></p></li>
        {% endfor %}
        </ol>
    {% else %}
        <p><strong>Нет плейлистов</strong></p>
    {% endif %}

{% endblock %}