{% extends 'kAboom/base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <ol>
        {% for artist_name, track_info in data.items %}
            <li>
                Исполнитель: {{ artist_name }}
                <ul>
                    {% for track_name, track_details in track_info.items %}
                        <li>
                            {{ track_name }}
                            {% for detail_name, details in track_details.items %}
                                <p>{{ detail_name }}:
                                    {% if detail_name == 'Жанры' %}
                                        {{ details|join:', ' }}
                                    {% else %}
                                        {{ details }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}