{% extends 'kAboom/base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <ol>
        {% for artist_name, track_info in data.items %}
            {% for track_name, track_details in track_info.items %}
                <li>
                    {{ artist_name }} - {{ track_name }}
                    <p>Жанры: {{ track_details.genres|join:', ' }}</p>
                    <p>Длительность: {{ track_details.duration }}</p>
                    <p>Размер: {{ track_details.size }}</p>
                    <p>Формат:
                    {% if track_details.format %}
                        {{ track_details.format }}
                    {% else %}
                        mp3
                    {% endif %}
                    </p>
                    <form action="{% url 'kAboom:add_track' %}" method="post">
                    {% csrf_token %}
                        <input type="text" value="{{ track_name }}" name="track_name" hidden>
                        <input type="text" value="{{ artist_name }}" name="artist_name" hidden>
                        <input type="text" value="{{ track_details.genres|join:', ' }}" name="genres" hidden>
                        <input type="text" value="{{ track_details.duration }}" name="duration" hidden>
                        <input type="text"
                            {% if track_details.format %}
                                value="{{ track_details.format }}"
                            {% else %}
                                value="mp3"
                            {% endif %}
                            name="format" hidden>
                        <input type="text" value="{{ track_details.size }}" name="size" hidden>
                        <button>
                            add
                        </button>
                    </form>
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
{% endblock %}