{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Плейлисты{% endblock %}

{% block content %}

    {% if page_obj %}
    <div class="col">
        <div class="row">
            <h1>Плейлисты:</h1>
        </div>
        <ol>
            {% for playlist in page_obj %}
                <li>
                    <div class="row mb-2">
                        <div class="col-4">
                            <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                        </div>

                        <div class="col-1">
                            {% if user.is_authenticated %}
                                {% if playlist not in owners %}
                                    <form action="{% url 'kAboom:favorite_playlist' %}" method="post">
                                    {% csrf_token %}
                                    <input name="playlist_id" value="{{ playlist.id }}" hidden>
                                        {% if playlist in favorite_playlists %}
                                            <button type="submit" value="rem" name="fav" class="btn btn-{{ request.session.theme }}">
                                                {% if request.session.theme == 'dark' %}
                                                    <img src="{% static 'kAboom/images/ne_favorite_dark.png' %}" width="25" height="25">
                                                {% else %}
                                                    <img src="{% static 'kAboom/images/ne_favorite_light.png' %}" width="25" height="25">
                                                {% endif %}
                                            </button>
                                        {% else %}
                                            <button type="submit" value="add" name="fav" class="btn btn-{{ request.session.theme }}">
                                                {% if request.session.theme == 'dark' %}
                                                    <img src="{% static 'kAboom/images/favorite_dark.png' %}" width="25" height="25">
                                                {% else %}
                                                    <img src="{% static 'kAboom/images/favorite_light.png' %}" width="25" height="25">
                                                {% endif %}
                                            </button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}


            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
            {% endif %}
        </ul>
    </nav>

    {% else %}
        <p>Альбомов нет</p>
    {% endif %}

{% endblock %}
