{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Трек{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
        {% if not owner %}
        <form action="{% url 'kAboom:favorite_playlist' %}" method="post">
             {% csrf_token %}
            <input name="playlist_id" value="{{ playlist_info.id }}" hidden>
            {% if playlist_is_favorite %}
                <button class="btn btn-outline-light" type="submit" value="rem" name="fav">Удалить из избранного</button>
            {% else %}
                <button class="btn btn-outline-light" type="submit" value="add" name="fav">Добавить в избранное</button>
            {% endif %}
        </form>
        {% else %}
            <form action="{% url 'kAboom:playlist_delete' %}" method="post">
            {% csrf_token %}
            <input value="{{ playlist_info.id }}" name="playlist_id" hidden>
            <button class="btn btn-danger" type="submit" name="delete">Удалить плейлист</button>
            </form>
            <p><a href="{% url 'kAboom:change_playlist' playlist_info.id %}"><button class="btn btn-primary">Изменить плейлист</button></a></p>
        {% endif %}
    {% endif %}

    <p>Плейлист: {{ playlist_info.name }}</p>
    {% if playlist_info.user_maker.username %}
    <p>Составитель: {{ playlist_info.user_maker.username }}</p>
    {% else %}
    <p>Составитель: нет составителя</p>
    {% endif %}

    {% if page_obj %}
        <p>Треки:</p>
    <ol>
        {% for track in page_obj %}
            <li><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></li>
        {% endfor %}
    </ol>

{% if page_obj.has_previous %}
    {% if page_obj.has_next %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}


    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>

      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endif %}
        {#        <div class="pagination">#}
{#            <span class="step-links">#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page=1">&laquo; первая</a>#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>#}
{#                {% endif %}#}
{##}
{#                <span class="current">#}
{#                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#                </span>#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>#}
{#                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>#}
{#                {% endif %}#}
{#            </span>#}
{#        </div>#}

        {% else %}
        <p>Треков нет</p>
    {% endif %}

{% endblock %}