{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Плейлисты{% endblock %}

{% block content %}

        {% if page_obj %}
        <h1>Плейлисты:</h1>

        <ol>
        {% for playlist in page_obj %}
            <li>
                {% if user.is_authenticated %}
                        <form action="{% url 'kAboom:favorite_playlist' %}" method="post">
                        {% csrf_token %}
                        <input name="playlist_id" value="{{ playlist.id }}" hidden>
                        {% if playlist in owners %}
                            <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                        {% else %}
                            {% if playlist in favorite_playlists %}
                                <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a> <button type="submit" value="rem" name="fav" class="btn btn-outline-light"><img src="{% static 'kAboom/images/favorite.png' %}"></button>
                            {% else %}
                                <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a> <button type="submit" value="add" name="fav" class="btn btn-outline-light"><img src="{% static 'kAboom/images/ne_favorite.png' %}"></button>
                            {% endif %}
                        {% endif %}
                        </form>
                {% else %}
                    <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>

{% if page_obj.has_previous %}
    {% if page_obj.has_next %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}


    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>

      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
      {% endif %}
  {% endif %}
{% endif %}
  </ul>
</nav>
{#        <div class="pagination">#}
{#            <span class="step-links">#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page=1">&laquo; первая</a>#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>#}
{#                {% endif %}#}
{##}
{#                <span class="current">#}
{#                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#                </span>#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>#}
{#                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>#}
{#                {% endif %}#}
{#            </span>#}
{#        </div>#}

    {% else %}
        <p>Альбомов нет</p>
    {% endif %}
{% endblock %}
