{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Плейлисты{% endblock %}

{% block content %}

        {% if page_obj %}
        <h1>Плейлисты:</h1>

        <ol>
        {% for playlist in page_obj %}
            <li>
                {% if user.is_authenticated %}
                        <form action="{% url 'kAboom:favorite_playlist' %}" method="post">
                        {% csrf_token %}
                        <input name="playlist_id" value="{{ playlist.id }}" hidden>
                        {% if playlist in owners %}
                            <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                        {% else %}
                            {% if playlist in favorite_playlists %}
                                <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a> <button type="submit" value="rem" name="fav">Удалить из избранного</button>
                            {% else %}
                                <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a> <button type="submit" value="add" name="fav">Добавить в избранное</button>
                            {% endif %}
                        {% endif %}
                        </form>
                {% else %}
                    <a href="{% url 'kAboom:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        <p>Альбомов нет</p>
    {% endif %}
{% endblock %}
