{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Трек{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
        {% if not owner %}
        <form action="{% url 'kAboom:favorite_playlist' %}" method="post">
             {% csrf_token %}
            <input name="playlist_id" value="{{ playlist_info.id }}" hidden>
            {% if playlist_is_favorite %}
                <button type="submit" value="rem" name="fav">Удалить из избранного</button>
            {% else %}
                <button type="submit" value="add" name="fav">Добавить в избранное</button>
            {% endif %}
        </form>
        {% else %}
            <form action="{% url 'kAboom:playlist_delete' %}" method="post">
            {% csrf_token %}
            <input value="{{ playlist_info.id }}" name="playlist_id" hidden>
            <button type="submit" name="delete">Удалить плейлист</button>
            </form>
            <p><a href="{% url 'kAboom:change_playlist' playlist_info.id %}"><button>Изменить плейлист</button></a></p>
        {% endif %}
    {% endif %}

    <p>Плейлист: {{ playlist_info.name }}</p>
    <p>Составитель: {{ maker }}</p>

    {% if page_obj %}
        <p>Треки:</p>
    <ol>
        {% for track in page_obj %}
            <li><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></li>
        {% endfor %}
    </ol>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

        {% else %}
        <p>Треков нет</p>
    {% endif %}

{% endblock %}