{% extends "kAboom/base.html" %}

{% block content %}

<form action="{% url 'kAboom:registration' %}" method="post">
{% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="mb-3 row">
        <label for="InputLogin" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-5">
          <input type="text" class="form-control form-control-{{ request.session.theme }} text-bg-{{ request.session.theme }}" id="InputLogin" placeholder="Логин" name="login" required>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-5">
          <input type="password" class="form-control form-control-{{ request.session.theme }} text-bg-{{ request.session.theme }}" id="inputPassword" placeholder="Пароль" name="password" required>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="input_repeat_password" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-5">
          <input type="password" class="form-control form-control-{{ request.session.theme }} text-bg-{{ request.session.theme }}" id="input_repeat_password" placeholder="Повторите пароль" name="repeat_password" required>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Зарегистрироваться"></p>

</form>

{% endblock %}