{% extends "kAboom/base.html" %}

{% block title %}{% endblock %}


{% block content %}

    <h2>Найденные треки:</h2>

    <ol>
        {% for track in tracks_found %}
            <li>
                <div class="row">
                    <div class="col-3">
                        <a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a>
                    </div>

                    <div class="col-4">
                        {% if user.is_authenticated %}
                            <form action="{% url 'kAboom:favorite_track' %}" method="post">
                                {% csrf_token %}
                                <input name="track_id" value="{{ track.id }}" hidden>
                                {% if track in favorite_tracks %}
                                    <button class="btn btn-outline-{{ request.session.reverse_theme }}" type="submit" value="rem" name="fav">Удалить из избранного</button>
                                {% else %}
                                    <button class="btn btn-outline-{{ request.session.reverse_theme }}" type="submit" value="add" name="fav">Добавить в избранное</button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
