{% extends "kAboom/base.html" %}

{% block title %}{% endblock %}


{% block content %}
    Найденные треки:
    <ol>
    <div class="row">
    {% for track in tracks_found %}
        <div class="row">
        <li>
        <div class="col"><a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a></div>

<div class="col">            {% if user.is_authenticated %}

                <form action="{% url 'kAboom:favorite_track' %}" method="post">
                    {% csrf_token %}
                    <input name="track_id" value="{{ track.id }}" hidden>
                    {% if track in favorite_tracks %}
                        <button class="btn btn-outline-light" type="submit" value="rem" name="fav">Удалить из избранного</button>
                    {% else %}
                        <button class="btn btn-outline-light" type="submit" value="add" name="fav">Добавить в избранное</button>
                    {% endif %}
                </form>
            {% endif %}</div>
        </li>
        </div>
    {% endfor %}
    </div>
    </ol>
{% endblock %}
