{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Трек{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'kAboom:favorite_track' %}" method="post">
            {% csrf_token %}
            <input name="track_id" value="{{ track_details.id }}" hidden>
            {% if track_is_favorite %}
                <button class="btn btn-new" type="submit" value="rem" name="fav">
                    {% if request.session.theme == 'dark' %}
                        <img src="{% static 'kAboom/images/ne_favorite_dark.png' %}" width="25" height="25">
                    {% else %}
                        <img src="{% static 'kAboom/images/ne_favorite_light.png' %}" width="25" height="25">
                    {% endif %}
                </button>
            {% else %}
                <button class="btn btn-new" type="submit" value="add" name="fav">
                    {% if request.session.theme == 'dark' %}
                        <img src="{% static 'kAboom/images/favorite_dark.png' %}" width="25" height="25">
                    {% else %}
                        <img src="{% static 'kAboom/images/favorite_light.png' %}" width="25" height="25">
                    {% endif %}
                </button>
            {% endif %}
        </form>
    {% endif %}
    <p>Кол-во сердечек: {{ track_details.favorite.count }}</p>
    <p>{{ test_track_playlist }}</p>
    <p>Исполнитель: <a href="{% url 'kAboom:artist_detail' track_details.album.artist_id %}">{{ track_details.album.artist.name }}</a></p>
    <p>Альбом: <a href="{% url 'kAboom:album_detail' track_details.album_id %}">{{ track_details.album.title }}</a></p>
    <p>Название трека: {{ track_details.name }}</p>
    <p>Жанры:
    <ul>
        {% for genre in track_details.genre.all %}
            <li><a href="{% url 'kAboom:genre_detail' genre.id %}">{{ genre.name }}</a></li>
        {% endfor %}
    </ul>
    </p>
    <p>Формат: {{ track_details.media_type.name }}</p>
    <p>Вес: {{ track_details.bytes|filesizeformat }}</p>
    <p>Цена: {{ track_details.until_price }}</p>
    <p>Длительность: {{ track_details.milliseconds }}</p>
    <p>Композитор: {{ track_details.composer }}</p>
{% endblock %}