{% extends 'kAboom/base.html' %}
{% load static %}
{% block title %}Трек{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'kAboom:favorite_track' %}" method="post">
            {% csrf_token %}
            <input name="track_id" value="{{ track_details.id }}" hidden>
            {% if track_is_favorite %}
                {% include 'kAboom/include_ne_favorite.html' %}
            {% else %}
                {% include 'kAboom/include_favorite.html' %}
            {% endif %}
        </form>
    {% endif %}
    <p>Кол-во сердечек: {{ track_details.favorite.count }}</p>
    <p>{{ test_track_playlist }}</p>
    <p>Исполнитель: <a href="{% url 'kAboom:artist_detail' track_details.artist_id %}">{{ track_details.artist.name }}</a></p>
    {% if track_details.album %}
        <p>Альбом: <a href="{% url 'kAboom:album_detail' track_details.album_id %}">{{ track_details.album.title }}</a></p>
    {% endif %}
    <p>Название трека: {{ track_details.name }}</p>
    <p>Жанры и тэги:</p>

    <ul>
        {% for genre in track_details.genre_tag.all %}
            <li><a href="{% url 'kAboom:genre_detail' genre.id %}">{{ genre.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Формат: {{ track_details.media_type.name }}</p>
    <p>Вес: {{ track_details.bytes|filesizeformat }}</p>
    {% if track_details.until_price %}
        <p>Цена: {{ track_details.until_price }}</p>
    {% endif %}
    <p>Длительность: {{ duration }}</p>
    {% if track_details.composer %}
        <p>Композитор: {{ track_details.composer }}</p>
    {% endif %}

{% endblock %}