{% extends 'kAboom/base.html' %}
{% load static %}

{% block title %}Треки{% endblock %}

{% block content %}

        {% if page_obj %}
        <h1>Треки:</h1>

        <ol>
        {% for track in page_obj %}
            <li>
                {% if user.is_authenticated %}
                    <form action="{% url 'kAboom:favorite_track' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                    <input name="track_id" value="{{ track.id }}" hidden>
                    {% if track in favorite_tracks %}

                        <div class="col-4">
                            <a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a>
                        </div>

                        <div class="col">
                            <button class="btn btn-outline-light" type="submit" value="rem" name="fav">
                                <img src="{% static 'kAboom/images/favorite.svg' %}">
                            </button>
                        </div>

                    {% else %}

                        <div class="col-4">
                            <a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a>
                        </div>

                        <div class="col">
                        <button class="btn btn-outline-light" type="submit" value="add" name="fav">
                            <img src="{% static 'kAboom/images/ne_favorite.svg' %}">
                        </button>
                        </div>
                    {% endif %}
                    </div>
                    </form>
                {% else %}
                    <a href="{% url 'kAboom:track_detail' track.id %}">{{ track.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ol>

<nav aria-label="Page navigation example">
  <ul class="pagination">
        {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number|add:-1 >= 1 %}
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% endif %}
        {% if page_obj.previous_page_number|add:-2 >= 1 %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number|add:-1 }}">{{ page_obj.previous_page_number|add:-1 }}</a></li>
        {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}



    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    {% if page_obj.next_page_number|add:1 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|add:1 }}">{{ page_obj.next_page_number|add:1 }}</a></li>
    {% if page_obj.next_page_number|add:2 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|add:2 }}">{{ page_obj.next_page_number|add:2 }}</a></li>
    {% if page_obj.next_page_number|add:3 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|add:3 }}">{{ page_obj.next_page_number|add:3 }}</a></li>
    {% if page_obj.next_page_number|add:4 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
  </ul>
</nav>


    {% else %}
        <p>Исполнителей нет</p>
    {% endif %}


{% endblock %}