body {
    color: white;
    background-color: #1f2023;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

 header {
     background-color: #27292D;
 }

 footer {
     color: white;
     background-color: #2D2F34;
 }